.advantages-wrap{
   @extend .section;
   padding-bottom: 0;
    text-decoration: none;
    margin: auto;
}

.adv-list{
    display: flex;
    gap: 30px;
}

.adv-list__title{
    margin-bottom: 10px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-text;
    }

.adv-list__description{
    @include paragraph(400, 14px, 1.71);
}

.adv-icon-wrap{
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: $background-icon;
}