.hero{
display: block;
    
padding-top: 200px;
padding-bottom: 200px;

text-align: center;
align-items: center;
background-color: $brand-color;
    
background-image: linear-gradient(#2F303A66 40%, #2F303A66 40%), url("../images/hero-img.jpg");
background-repeat: no-repeat;
background-size: cover;
    
}

.hero__title{
margin: auto;
margin-bottom: 30px;
padding: 0;

width: 696px;
height: 120px;

font-family: $primary-font;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
font-style: normal;
text-transform: uppercase;

color: $color-white;
}

.hero___button{
padding: 10px 32px;
@extend %button;

color: $color-white;
@include transition(background-color);

&:hover,
&:focus{
    background-color: #188CE8;
}
}
