//кольори 
$color-black: #000;
$color-white: #fff;
$primarycolor: #2196F3;
$second-color: #757575;
$brand-color: #2F303A;
$color-text: #212121;
$filter-btn-color: #F5F4FA;
$background-icon: #F5F4FA;
$icon-color: #AFB1B8;
// шрифти
$logo-font: 'Raleway', sans-serif;
$primary-font: 'Roboto', sans-serif;
// border
$border-radius: 4px;
